<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odk.inf.repository.GameMapper">
    <select id="selectGameList" parameterType="com.odk.inf.dto.GameDto"  resultType="com.odk.inf.dto.GameDto">
    	SELECT CSTM_ID
    	     , TRGT_SEQ
    	     , GME_CD
    	     , KR_GME_NM
    	     , EN_GME_NM
    	     , LNG, PRD_CD
    	     , DSTBTR_CD
    	     , GME_CMNT
    	     , FRNT_YN
    	     , USE_YN
    	     , DLT_YN
    	     , CRT_DTTM
    	     , CRTR_ID
    	     , UPD_DTTM
    	     , UPDR_ID
         FROM ODC_GME_M

    </select>
</mapper>