<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.odc.login.repository.JoinMapper">
	<select id="selectEmailDupCheck" parameterType="String" resultType="String">
		SELECT CASE WHEN COUNT(1) >= 1 THEN 'D'
		            ELSE 'N'
		        END AS DUP
		 FROM ODC_BO_USR_M OBUM 
		WHERE 1=1
		  AND OBUM.EMAIL = #{email}
		
		
	</select>
	
	<select id="selectIdDupCheck" parameterType="String" resultType="String">
		SELECT CASE WHEN COUNT(1) >= 1 THEN 'D'
		            ELSE 'N'
		        END AS DUP
		 FROM ODC_BO_USR_M OBUM 
		WHERE 1=1
		  AND OBUM.LGN_ID = #{lgnId}
		
		
	</select>
	<insert id="insertBoUsr" parameterType="com.odc.login.dto.BoUsrRequestDto">
		INSERT INTO ODC_BO_USR_M
		      (CSTM_ID
		     , TRGT_SEQ
			 , USR_ID
		     , LGN_ID
		     , PWD
		     , USR_NM
		     , EMAIL
		     , PHONE
		     , ADDRESS
		     , ROLE_TP
		     , USE_YN
		     , ACTV_YN
		     , DLT_YN
		     , CRT_DTTM
		     , CRTR_ID
		     , UPD_DTTM
		     , UPDR_ID
		) VALUES
		(
		       #{cstmId}  
		      , #{trgtSeq}
		      , #{usrId}
		      , #{lgnId}
		      , #{pwd}
		      , #{usrNm}
		      , #{email}
		      , #{phone}
		      , #{address}
		      , #{roleTp}
		      , #{useYn}
		      , #{actvYn}
		      , 'N'
		      , NOW()
		      , #{crtrId}
		      , NOW()
		      , #{updrId}
		 )
	</insert>
	
</mapper>